@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "ethnic";
  src: url("../Fonts/Ethnic.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "ethnic";
}